<settings>
    <category label="30051">
        <setting id="storage_path" type="folder" label="30052" source="auto" option="false" />
        <setting id="show_notifications" type="bool" label="30053" default="true" />
        <setting id="default_notification_seconds" type="select" label="30054" default="3" values="5|4|3|2|1" />
    </category>
    <category label="30061">
        <setting id="save_subtitles" type="bool" label="30062" default="false" />
        <setting id="save_nfo" type="bool" label="30063" default="true" />
        <setting id="save_thumbnail" type="bool" label="30064" default="true" />
    </category>
    <category label="30071">
        <setting id="max_resolution" type="select" label="30072" default="1080" values="4320|2160|1440|1080|720|480|360|240|144" />
        <setting id="force_overwrite" type="bool" label="30073" default="false" />
    </category>
    <category label="30081">
        <setting id="debug" type="bool" label="30082" default="false" />
    </category>
</settings>
